<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MONGKOL - Cart</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/icon/favicon.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
          <div class="container">
            <a class="navbar-brand" href="javascript:void(0)">MONGKOL</a>
            <div class="collapse navbar-collapse" id="mynavbar">
              <ul class="navbar-nav me-auto">
                <div class="dropdown">
                  <button class="dropbtn">SHOP</button>
  
                  <div class="dropdown-content">
                    <div class="row">
                      <div class="col-md-auto">
                    <a href="#">Clutches</a>
                    <a href="#">Handbags</a>
                    <a href="#">Tote bags</a>
                    <a href="#">Belt bags</a>
                  </div>
                  <div class="col">
                    <a href="#">Crossbodybags</a>
                    <a href="#">Shoulderbags</a>
                    <a href="#">wallet </a>
                    <a href="#">New Arrivals</a>
                  </div>
                  </div>
                  </div>

  
                </div>
                <div class="dropdown">
                  <button class="dropbtn">MEN</button>
                  <div class="dropdown-content">
                    <div class="row">
                      <div class="col-md-auto">
                    <a href="#">Clutches</a>
                    <a href="#">Handbags</a>
                    <a href="#">Tote bags</a>
                    <a href="#">Belt bags</a>
                  </div>
                  <div class="col">
                    <a href="#">Crossbodybags</a>
                    <a href="#">Shoulderbags</a>
                    <a href="#">wallet </a>
                    <a href="#">New Arrivals</a>
                  </div>
                  </div>
                  </div>
                </div>
                <div class="dropdown">
                  <button class="dropbtn">WOMAN</button>
                  <div class="dropdown-content">
                    <div class="row">
                      <div class="col-md-auto">
                    <a href="#">Clutches</a>
                    <a href="#">Handbags</a>
                    <a href="#">Tote bags</a>
                    <a href="#">Belt bags</a>
                  </div>
                  <div class="col">
                    <a href="#">Crossbodybags</a>
                    <a href="#">Shoulderbags</a>
                    <a href="#">wallet </a>
                    <a href="#">New Arrivals</a>
                  </div>
                  </div>
                  </div>
                </div>
              </ul>
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="text"
                  placeholder="Search"
                />
                <button class="btn" type="button">
                  <i class="fa-regular fa-magnifying-glass"></i>
                </button>
                <div class="vr"></div>
                <button class="btn" type="button">
                  <i class="fa-regular fa-heart"></i>
                </button>
                <button class="btn" type="button">
                  <i class="fa-regular fa-bag-shopping"></i>
                </button>
                <button class="btn" type="button">
                  <i class="fa-regular fa-user"></i>
                </button>
              </form>
            </div>
          </div>
        </nav>
      </header>
  
    <div class="container text-center mt-5">
        <h2 style="text-transform: uppercase; font-weight: bold;">shopping bag</h2>
    </div>
    <div class="container-xl justify-content-between mt-3">
        <div class="row">
            <div class="col-sm-6 px-4">
                <hr style="border: 1px solid black;">

                <div class="card" style="background-color: rgba(255, 255, 255, 0); border: none;">
                    <div class="card-body">
                        <a href=""><img src="/public/icon/500x500-MONGKOL.jpg" class="rounded float-start" style="width: 8.125rem; background-color: #e5e5e5; margin-right: 1rem;"></a>
                        <div class="d-flex" style="justify-content: space-between;">
                            <a href="" class="text-decoration-none"><h5 class="card-title fw-bold text-black" style="font-size: 24px;">Item Name</h5></a>
                            <a href="" style="color: grey;"><i class="fa-solid fa-x"></i></a>
                        </div>
                        <p class="card-text" style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="d-flex">
                            <p style="font-size: 20px; margin-right: 2rem;"><span id="price">1790</span>฿</p>
                            <p style="font-size: 20px;">Quantity: <span id="quantity">1</span></p>
                        </div>
                    </div>
                </div>
                
                <div class="card" style="background-color: rgba(255, 255, 255, 0); border: none;">
                    <div class="card-body">
                        <a href=""><img src="/public/icon/500x500-MONGKOL.jpg" class="rounded float-start" style="width: 8.125rem; background-color: #e5e5e5; margin-right: 1rem;"></a>
                        <div class="d-flex" style="justify-content: space-between;">
                            <a href="" class="text-decoration-none"><h5 class="card-title fw-bold text-black" style="font-size: 24px;">Item Name</h5></a>
                            <a href="" style="color: grey;"><i class="fa-solid fa-x"></i></a>
                        </div>
                        <p class="card-text" style="font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div class="d-flex">
                            <p style="font-size: 20px; margin-right: 2rem;"><span id="price">1790</span>฿</p>
                            <p style="font-size: 20px;">Quantity: <span id="quantity">1</span></p>
                        </div>
                    </div>
                </div>
                

                <hr style="border: 1px solid black;">
            </div>
            
            <div class="col px-2 justify-content-center text-center mb-3">
                <div class="card mt-2 p-0 border-dark" style="width: auto; border-radius: 50px;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 24px;">Check out</h5>

                        <div class="d-flex justify-content-between px-lg-5 mt-3">
                            <p style="font-size: 18px;">Shipping address</p>
                            <a href="" class="text-decoration-none" style="font-size: 18px; color: grey;">add address <i class="fa-solid fa-chevron-right" style="font-size: 16px;"></i></a>
                            <!-- <a class="text-decoration-none" style="font-size: 18px; color: black;">Home <i class="fa-solid fa-chevron-right" style="font-size: 16px;"></i></a> -->
                        </div>

                        <div class="d-flex justify-content-between px-lg-5 mt-3">
                            <p style="font-size: 18px;">Shipping method</p>
                            <a href="" class="text-decoration-none" style="font-size: 18px; color: black;">Standard Delivery <i class="fa-solid fa-chevron-right" style="font-size: 16px;"></i></a>
                            <!-- <a class="text-decoration-none" style="font-size: 18px; color: black;">Messenger <i class="fa-solid fa-chevron-right" style="font-size: 16px;"></i></a> -->
                        </div>

                        <div class="d-flex justify-content-between px-lg-5 mt-3">
                            <p style="font-size: 18px;">Coupons</p>
                            <a href="" class="text-decoration-none" style="font-size: 18px; color: grey;">apply <i class="fa-solid fa-chevron-right" style="font-size: 16px;"></i></a>
                            <!-- <a class="text-decoration-none" style="font-size: 18px; color: black;">Messenger <i class="fa-solid fa-chevron-right" style="font-size: 16px;"></i></a> -->
                        </div>

                        <hr style="border: 1px solid black;">

                        <div class="d-flex justify-content-between px-lg-5 mt-3">
                            <p style="font-size: 18px;">Subtotal</p>
                            <p class="text-decoration-none" style="font-size: 18px; color: black;"><span id="">9000</span>฿</p>
                        </div>

                        <div class="d-flex justify-content-between px-lg-5 mt-3">
                            <p style="font-size: 18px;">Shipping fee</p>
                            <p class="text-decoration-none" style="font-size: 18px; color: black;"><span id="">90</span>฿</p>
                        </div>

                        <div class="d-flex justify-content-between px-lg-5 mt-3">
                            <h3 style="font-size: 24px; font-weight: bold;">Total</h3>
                            <h3 class="text-decoration-none fw-bold" style="font-size: 24px; color: black;"><span id="">9090</span>฿</h3>
                        </div>

                        <div class="d-grid gap-2 col-8 mx-auto p-2">
                            <button class="btn bg-dark text-white my-4" style=" font-size: larger;">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer
          class="text-center text-lg-start text-white mt-5 "
          >
 
    <div class="container p-3">
      <section class="">
        <div class="row text-dark">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-5 text-center p-lg-5">
            <h2>
           Contact us
            </h2>
          
        </div>

      

          <div class="d-flex" style="height: 250px; width:6vh;">
            <div class="vr"></div>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
    
            <div>
              <label class="form-label">Name</label>
              <div class="">
                <input
                  type="text"
                  id="name"
                  class="form-control bg-light"
                  placeholder="Enter your name"
                />
              </div>
            </div>
  
            <div class="">
              <label class="form-label mt-2">Email</label>
              <input
                type="email"
                id="email"
                class="form-control bg-light"
                placeholder="Enter your email"
              />
            </div>
  
            <div class="">
              <label class="form-label mt-2">Message</label>
              <textarea
                class="form-control bg-light"
                id="message"
                placeholder="Enter your message"
                rows="2"
              ></textarea>
            </div>
          
          </div>
          <div class="col p-lg-5 mt-5">
            <button
            class="btn text-center btn-outline-dark  " 
            style="border-radius: 100px; width: 10px; width: 50px;
            height: 50px;
            padding: 10px 16px;"
            type="submit"
          >
          <i class="fa-sharp fa-solid fa-paper-plane"></i>
          </button>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
             Customer Service
            </h6>
            <p>
              <a class ="nav-link" href="#">How to order</a>
            </p>
            <p>
              <a class ="nav-link" href="#">Mongkol Membership</a>
            </p>
            <p>
              <a class ="nav-link" href="#">Tracking</a>
            </p>
            <p>
              <a class ="nav-link" href="#">Help</a>
            </p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">About Us</h6>
            <p><i class="fas fa-home mr-3"></i> CONTACT PHONE: 02-1147423</p>
            <p><i class="fas fa-envelope mr-3"></i> PHONE HOURS, MON-SUN: 10 AM - 7 PM</p>
            <p><i class="fas fa-phone mr-3"></i>  ICTSUPPORT@MONGKOLBKK.COM</p>
          </div>




        </div>
      </section>

      <hr class="my-3">

      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-8 text-center text-md-start text-dark">
            <div class="p-3">
             2022 © Mongkol
              <a class="text-dark p-3" href="https://mdbootstrap.com/"
                 >Terms & conditions
                 </a>
            </div>
          </div>

          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <h4>Follow Us:</h4>
            <a
               class="btn btn-outline-dark btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <a 
              class="btn btn-outline-dark btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>


            <a
               class="btn btn-outline-dark btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <a
               class="btn btn-outline-dark btn-floating m-1"
               class="text-white"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>

        </div>
      </section>
    </div>
  </footer>
</body>
</html>